<!doctype html>
<html lang="">
<head>


</head>


<body>

{% comment %} DO NOT CHANGE SCRIPT TAGs ORDER {% endcomment %}

<!-- Alpine Plugins -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script> {% endcomment %}
<script src="/static/pwa/alpine_persist.js"></script>

{% comment %} DO NOT CHANGE SCRIPT TAGs ORDER {% endcomment %}


{{ jsdata|json_script:"jsdata" }}


<script>


document.addEventListener('alpine:init', () => {
    //console.log('alpine:init')

    Alpine.store('server', {
        workouts: Alpine.$persist([]).as('server_workouts'),
        session: Alpine.$persist([]).as('server_session'),
    })

    const jsdata = JSON.parse(document.getElementById('jsdata').textContent)
    Alpine.store('server').session = jsdata['session']

})



</script>

{% comment %} DO NOT CHANGE SCRIPT TAGs ORDER {% endcomment %}

<!-- Alpine Core -->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> {% endcomment %}
<script src="/static/pwa/alpine_core.js"></script>

{% comment %} DO NOT CHANGE SCRIPT TAGs ORDER {% endcomment %}


{% comment %} HTML MUST GO BELLOW {% endcomment %}

</body>

</html>